ul {
    list-style-type: none;
    overflow: hidden;
    background-color: gray;
    border-style: solid;
    border-width: 3px;
    }
    
    li {
        float: left;
}

.link {
    display: block;
        color: white;
        text-align: center;
        padding: 15px 15px;
}

li a:hover {
    background-color: #111;
}